<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Animal Crossing New Horizons Player</title>
    <!-- todo: 去除 unsafe-eval -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.map.baidu.com http://example.com; script-src 'self' 'unsafe-eval'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self' https://api.map.baidu.com http://example.com; script-src 'self' 'unsafe-eval'"> -->
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
      <template v-if="status === 'ready'">
        <my-audio
          ref="audio"
          :base-path="audioStatus.basePath"
          :hours="audioStatus.hours"
          :weather="audioStatus.weather"
          @ready="handleAudioReady"
        ></my-audio>
        <br>
        <select name="hours" v-model="audioStatus.hours" :disabled="inputPlayMode" @change="handleHoursChange">
          <option v-for="item in selectHoursOptions" :value="item.value">
            {{item.hours}}：00 {{item.isAm ? 'a.m.' : 'p.m.'}}
          </option>
        </select>
        <select name="weather" v-model="audioStatus.weather" :disabled="inputPlayMode" @change="handleWeatherChange">
          <option value="sunny">Sunny</option>
          <option value="rainy">Rainy</option>
          <option value="snowy">Snowy</option>
        </select>
        <input type="checkbox" name="simulate" v-model="inputPlayMode" @change="handlePlayModeChange">
        模拟播放
      </template>
      <template v-else-if="status === 'loading'">
        <div>loading...</div>
      </template>
      <template v-else-if="status === 'prepare'">
        1. 打开 网易云音乐|QQ音乐|酷我音乐|... ，搜索专辑“あつまれ どうぶつの森 オリジナルサウンドトラック”，下载全部专辑
        <br>
        2. 手动选择下载资源所在目录
        <input type="file" @change="handleBasePathChange" webkitdirectory multiple>
      </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
